<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
<header>
    <h3>Welcome,{{user.name}}</h3>
    <div>
        <a href="/books/add">add book and review</a>
        <a href="/logout">Log out</a>
    </div>
</header>
<div class="d-flex">
    <div>
        <h3>Recent book Reviews</h3>
        <ul>
            {% for book in books %}
            <li> <a href="/books/{{book.id}}">{{book.title}}</a></li>
            <ul>
                {% for review in book.reviews.all %}
                <li><a href="/user/{{review.user.id}}">{{review.user.first_name}}</a></li>
                <li>{{ review.text }}</li>
                <li>{{review.rate}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>
    <div>
        <div class="books">
            <ul>
                {% for book in books %}
                <li> <a href="/books/{{book.id}}">{{book.title}}</a></li>
                {% endfor %}
                <ul>
        </div>
    </div>

</div>
</body>
</html>